# Implement Naïve Bayes theorem to classify the English text.

In [24]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from  nltk.stem import SnowballStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report
import re

stop_words = stopwords.words("english")

In [14]:
df=pd.read_csv('spam_ham_dataset.csv')
data=df[['text','label']]

In [15]:
data

                                                   text label
0     Subject: enron methanol ; meter # : 988291\r\n...   ham
1     Subject: hpl nom for january 9 , 2001\r\n( see...   ham
2     Subject: neon retreat\r\nho ho ho , we ' re ar...   ham
3     Subject: photoshop , windows , office . cheap ...  spam
4     Subject: re : indian springs\r\nthis deal is t...   ham
...                                                 ...   ...
5166  Subject: put the 10 on the ft\r\nthe transport...   ham
5167  Subject: 3 / 4 / 2000 and following noms\r\nhp...   ham
5168  Subject: calpine daily gas nomination\r\n>\r\n...   ham
5169  Subject: industrial worksheets for august 2000...   ham
5170  Subject: important online banking alert\r\ndea...  spam

[5171 rows x 2 columns]

In [16]:
def preprocess(text, stem=False):
    # Remove link,user and special characters
    text = re.sub("@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+", ' ', str(text).lower()).strip()
    tokens = []
    for token in text.split():
        if token not in stop_words:#removing stopwords like it,is,this ect.
            if stem:
                tokens.append(stemmer.stem(token))
            else:
                tokens.append(token)
    return " ".join(tokens)

In [18]:
data['text'] = data['text'].apply(lambda x: preprocess(x))

C:\Users\yash\AppData\Local\Temp\ipykernel_1196\260942164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.text = data.text.apply(lambda x: preprocess(x))

In [19]:
data

                                                   text label
0     subject enron methanol meter 988291 follow not...   ham
1     subject hpl nom january 9 2001 see attached fi...   ham
2     subject neon retreat ho ho ho around wonderful...   ham
3     subject photoshop windows office cheap main tr...  spam
4     subject indian springs deal book teco pvr reve...   ham
...                                                 ...   ...
5166  subject put 10 ft transport volumes decreased ...   ham
5167  subject 3 4 2000 following noms hpl take extra...   ham
5168  subject calpine daily gas nomination julie men...   ham
5169  subject industrial worksheets august 2000 acti...   ham
5170  subject important online banking alert dear va...  spam

[5171 rows x 2 columns]

In [21]:
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['label'], test_size=0.2, random_state=42)

# Create a CountVectorizer to convert text data into numerical features.
vectorizer = CountVectorizer()
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

# Initialize and train a Multinomial Naive Bayes classifier.
naive_bayes_classifier = MultinomialNB()
naive_bayes_classifier.fit(X_train, y_train)

# Make predictions on the test data.
y_pred = naive_bayes_classifier.predict(X_test)

# Evaluate the classifier's performance.
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

# Generate a classification report with precision, recall, and F1-score.
print(classification_report(y_test, y_pred))

Accuracy: 0.97
              precision    recall  f1-score   support

         ham       0.98      0.98      0.98       742
        spam       0.95      0.95      0.95       293

    accuracy                           0.97      1035
   macro avg       0.97      0.96      0.97      1035
weighted avg       0.97      0.97      0.97      1035

AttributeError: 'str' object has no attribute 'keys'